@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@theme {
  --font-display: 'Geist';
  --font-bold: 'Geist Mono';

  /* --breakpoint-xsm: 375px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px; */
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-700
}