@import "tailwindcss";
@plugin 'tailwindcss-animate';

@theme inline {
	--font-sans: var(--font-geist);
	--font-title: var(--font-lilex);

	--color-primary: oklch(51.1% 0.262 276.966);
	--color-secondary: oklch(25.7% 0.09 281.288);
	--color-background: oklch(98.5% 0 0);
	--color-foreground: oklch(93% 0.034 272.788);
	--color-border: oklch(92% 0.004 286.32);
	--color-muted: oklch(44.2% 0.017 285.786);
}
