@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-700
}

.thon-ui-markdown {
  @apply flex flex-col gap-2 pb-20
}

.thon-ui-markdown h1 {
  @apply text-2xl font-bold laptopl:text-3xl
}

.thon-ui-markdown p {
  @apply text-justify
}

.thon-ui-markdown h3 p {
  @apply text-center
}

.thon-ui-markdown h2 {
  @apply text-xl font-semibold my-2
}

.thon-ui-markdown p:has(>img) {
  @apply flex items-center justify-center
}

.thon-ui-markdown pre {
  @apply overflow-x-auto bg-gray-200 rounded-t-md rounded-b-none p-2
}

.thon-ui-markdown ::-webkit-scrollbar {
  height: 4px;
  @apply rounded-md
}

.thon-ui-markdown ::-webkit-scrollbar-thumb {
  @apply rounded-lg
} 

.thon-ui-markdown ::-webkit-scrollbar-button {
  display: none;
}

.thon-ui-markdown a {
  @apply text-indigo-700 hover:underline transition-all
}